version: '3.8'
services:
  app:
    build: .
    volumes:
      - ./:/app
    command: bash -lc "composer install --no-interaction && vendor/bin/phpunit --colors=always"
    environment:
      COMPOSER_ALLOW_SUPERUSER: 1
    tty: true
